DATABASE_URL=postgresql://postgres:surojit@localhost:5432/super_shop_db
LOGIN_SECRET_PEPPER=KOLLK2212@333122
JWT_ACCESS_SECRET=1233322221JJHHV89
JWT_REFRESH_SECRET=BBWVHBWHVBVBWYWWIRWIR
GARAGE_RPC_SECRET=8f6f4d3d0b6b3e4d8a8b2c0f7a4e9d1f3b2a1c5d7e8f9a0b1c2d3e4f5a6b7c8